---
import ProjectCard from "../cards/project-card.astro";
import { SlideInFromLeft, SlideInFromRight } from "../motion/slide-in";

interface Props {
  projects: {
    type: string;
    title: string;
    techs: string[];
    description: string;
    deploy: string;
    repo: string;
    image: ImageMetadata;
  }[];
}

const { projects } = Astro.props;
---

<div class="flex flex-col gap-6 items-center">
  {
    projects.map((project, idx) =>
      idx % 2 === 0 ? (
        <SlideInFromLeft client:idle>
          <ProjectCard {...project} />
        </SlideInFromLeft>
      ) : (
        <SlideInFromRight client:idle>
          <ProjectCard {...project} />
        </SlideInFromRight>
      )
    )
  }
</div>
