---
import MainContainer from "../main-container.astro";
import ProjectsList from "../lists/projects-list.astro";
import { projects } from "../../data/project";
---

<MainContainer as="section" className="flex flex-col gap-6">
  <h2 class="flex items-center gap-[1ch] mx-auto">
    <span
      class="font-mono text-2xl sm:text-3xl shrink-0 font-black text-foreground-muted"
    >
      {"<!--"}
    </span>
    <span
      class="text-4xl sm:text-5xl font-mono font-black text-center leading-[1] tracking-tighter"
    >
      My Projects
    </span>
    <span
      class="font-mono text-2xl sm:text-3xl shrink-0 font-black text-foreground-muted"
    >
      {"-->"}
    </span>
  </h2>
  <p class="text-foreground-muted text-center max-w-[450px] mx-auto">
    Dive into a showcase of my recent projects, each a testament to my skills
    and creativity.
  </p>
  <ProjectsList projects={projects} />
</MainContainer>
