---
import "@fontsource-variable/arimo";
import "@fontsource-variable/jetbrains-mono";

import BackgroundBlob from "../motion/background-blob";
import Background from "../background.astro";

import "../../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Santiago García | Portfolio 2025</title>
  </head>
  <body
    class="font-sans subpixel-antialiased scroll-smooth text-lg text-foreground bg-background selection:bg-accent selection:text-foreground"
  >
    <slot />
    <!-- <BackgroundBlob client:load /> -->
    <Background />
  </body>
</html>
