---
import MainContainer from "./main-container.astro";
---

<MainContainer
  as="footer"
  className="pt-42 pb-6 flex flex-col sm:flex-row items-center justify-between text-foreground-muted/50"
>
  <p>
    Made with <span class="text-accent">❤</span> and
    <span class="text-accent font-bold">Astro</span>
  </p>
  <p>Copyright © 2025. All rights reserved.</p>
</MainContainer>
